
/*
  body {
    background: #FFCAE2;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .main {
    width: 900px;
    height: 900px;    
    background-size: cover;
    margin: 0 auto;
    position: relative;
  }
  
  .balloon {
    z-index: 2;
    width: 30vh;
    height: 30vh;  
    position: absolute;
    left: 20%;
    top: 50%;    
    background: url('https://drive.google.com/uc?id=1ERN5a0SKtET24xj98ubnamvA_-Nz1mhw') no-repeat;  
    background-size: cover;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .cloud-left-bottom {
    z-index: 1;
    width: 30vh;
    height: 30vh;  
    position: absolute;
    left: 15%;
    top: 131%;
    background: url('https://drive.google.com/uc?id=1PST8UFT76-DattjF8gFXm4t4hZ3FRCRM') no-repeat;
    background-size: cover;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .cloud-left-top {
    z-index: 1;
    width: 30vh;
    height: 30vh;  
    position: absolute;
    left: 42%;
    top: 112%;
    background: url('https://drive.google.com/uc?id=1PST8UFT76-DattjF8gFXm4t4hZ3FRCRM') no-repeat;
    background-size: cover;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .cloud-right {
    z-index: 1;
    width: 30vh;
    height: 30vh;  
    position: absolute;
    left: -25%;
    top: 121%;
    background: url('https://drive.google.com/uc?id=1PST8UFT76-DattjF8gFXm4t4hZ3FRCRM') no-repeat;
    background-size: cover;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .message {
    z-index: 3;
    width: 27vh;
    height:21vh; 
    position: relative;
    left: 70%;
    top: 40%;
    background: url('https://drive.google.com/uc?id=1jiSQ538gtJ-DXCNpDiSndMP2Q348GME9') no-repeat;
    background-size: cover;
    animation: floating 4s infinite ease-in-out, fade 2s 1 ease-in-out;
  }
  
  .message:after {
    content: 'Feliz Navidad My Friend';
    color: #3f3f3f;
    font-size: 4vh;
    position: absolute;
    margin: 4vh 0vh 0vh 0vh;
  }
*/

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rgba(95, 114, 189,0.8), rgba(155,35,234,0.7)),url("/img/bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.logo {
  height: 40px;
  margin-top: 20px;
}

.text-description {
  letter-spacing: 2px;
  font-family: sans-serif;    
}

.form-control {
  background: transparent !important;
  color: #fff !important;
}

a .fab {
  color: #ffc;
  font-size: 30px;
  margin: 0 10px;
}